bin/Debug/netcoreapp3.0/racewrangler.deps.json
bin/Debug/netcoreapp3.0/racewrangler.dll
bin/Debug/netcoreapp3.0/racewrangler.exe
bin/Debug/netcoreapp3.0/racewrangler.pdb
bin/Debug/netcoreapp3.0/racewrangler.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/racewrangler.runtimeconfig.json
obj/Debug/netcoreapp3.0/racewrangler.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/racewrangler.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/racewrangler.assets.cache
obj/Debug/netcoreapp3.0/racewrangler.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/racewrangler.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/racewrangler.dll
obj/Debug/netcoreapp3.0/racewrangler.pdb
/.vs/racewrangler
